.head1 {
    padding: 6em 0;
    background-image: url("../img/MET.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:gray;
}

  .foot {
    padding: 20px 0;
    text-align: center;
    background-color: #3a78d4;
    text-decoration: none;
  }
  
  .foot a {
    color: #ffffff;
  }

  .details > li {
    display: inline-block;
    margin: 0 5px;
  }

  .close-button {
    position: revert;
  }

  .glyph {
    /* border-bottom: 1px dotted #ccc; */
    padding: 10px 0 20px;
    margin-bottom: 20px;
  }

  .preview-glyphs { vertical-align: bottom; } 

  

  .step {
    /* display: inline-block; */
    /* line-height: 1; */
    width: 10%;
  }

  
  .size-12 { font-size: 12px; }
  
  .size-14 { font-size: 14px; }
  
  .size-16 { font-size: 16px; }
  
  .size-18 { font-size: 18px; }
  
  .size-21 { font-size: 21px; }
  
  .size-24 { font-size: 24px; }
  
  .size-36 { font-size: 36px; }
  
  .size-48 { font-size: 48px; }
  
  .size-60 { font-size: 60px; }
  
  .size-72 { font-size: 72px; }
  

  
