
body{
  font-family: 'Open Sans Condensed', sans-serif;
}

header{
  background-color: #2ba6cb;
  margin-left: 1rem;
  margin-right: 1rem;
  
  height: 10rem;
  margin-bottom: 1rem;
  background-image: url("../img/backgroundimage.jpg");
}
  .foot {
    padding: 20px 0;
    text-align: center;
    background-image: url("../img/backgroundimage.jpg");
    text-decoration: none;
  }
  
  .foot a {
    color: #00090c;
  }

  .details > li {
    display: inline-block;
    margin: 0 5px;
  }

  .close-button {
    position: revert;
  }

  .glyph {
    /* border-bottom: 1px dotted #ccc; */
    padding: 10px 0 20px;
    margin-bottom: 20px;
    
  }
  i{
    color:#2ba6cb;
  }

  .callout{
    background-color:#d2ebf3 ;
    border: 2px solid #2ba6cb;
  }

  .preview-glyphs { vertical-align: bottom; } 

  
  h1{
    font-family: 'Open Sans Condensed', sans-serif;
    
  }
  
  h2,h3{
    font-family: 'Rokkitt', serif;
  }
  
  h4,h5{
    font-family: 'Oranienbaum', serif
  }
  
  h6,p{
    font-family: 'Pacifico', cursive;
  }
  

  .step {
    /* display: inline-block; */
    /* line-height: 1; */
    width: 10%;
  }

  
  .size-12 { font-size: 12px; }
  
  .size-14 { font-size: 14px; }
  
  .size-16 { font-size: 16px; }
  
  .size-18 { font-size: 18px; }
  
  .size-21 { font-size: 21px; }
  
  .size-24 { font-size: 24px; }
  
  .size-36 { font-size: 36px; }
  
  .size-48 { font-size: 48px; }
  
  .size-60 { font-size: 60px; }
  
  .size-72 { font-size: 72px; }
  

  .media-object-section {
    border: 2px solid #2ba6cb;
    background-color: #d2ebf3;
    margin-right: 2rem;
    margin-left: 3rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
  }

  #result-content{
    margin-right: 2rem;
  }

